affine
arrow
beautifulsoup4
cdsapi
logzero
matplotlib
netCDF4
numpy
pandas
git+https://github.com/ritviksahajpal/pygeoutil.git
pymodis
pyresample
rasterio
requests
retrying
rioxarray
setuptools
tqdm
urllib3
wget
xarray
