logzero~=1.7.0
arrow~=1.3.0
pandas~=2.1.4
numpy~=1.26.2
bottleneck~=1.3.7
tqdm~=4.66.1
rasterio~=1.3.9
geopandas~=0.14.1
pyresample~=1.27.1
wget~=3.2
xarray~=2023.12.0
affine~=2.4.0
geoprepare~=0.4.8
requests~=2.31.0
pymodis~=2.3.0
gdal~=3.8.1
beautifulsoup4~=4.12.2
cdsapi~=0.6.1
urllib3~=1.26.18
earthaccess~=0.8.2
setuptools~=68.2.2
